{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="columns is-centered">

        <div class="content column is-half-widescreen is-two-thirds-desktop">
            <p class="title">
                Welcome To Celestine
            </p>
            <p class="subtitle">
                A Mini Cloud Service
            </p>
            <span class="tags has-addons">
                <span class="tag is-link">Version 2.0</span>
                <span class="tag is-light">September 2021</span>
            </span>
        </div>

    </div>
</div>
{% endblock %}
